<!--
  Generated template for the ConnectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">

  <ion-navbar color="primary">
    <ion-title>{{ 'Open' | translate }}</ion-title>

    <ion-buttons end>

      <button icon-only="" ion-button="" clear (click)="scanDevices(true)">
        <ion-icon name="bluetooth"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content [attr.text-center]="initialInformation">


  <div text-center="" *ngIf="scan">
    <ion-spinner item-start name="dots"></ion-spinner>
    <div>{{ 'Scanning' | translate }}</div>
  </div>

  <ion-grid *ngIf="items.length == 0">
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content text-center="">
            <p>{{ 'INFORMATION_BEFORE_SEARCH_DEVICES' | translate }}</p>

            <div text-center="">
              <img src="assets/imgs/Locker.png" style="width: 100px; margin: auto"/>

            </div>

          </ion-card-content>
        </ion-card>

        <!--<button ion-button="" (click)="scanDevices()" icon-left="">  <ion-icon name="bluetooth"></ion-icon>-->
          <!--{{ 'Find devices' | translate }}</button>-->
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <button ion-item *ngFor="let item of items" >
      <p>{{ item.name }}</p>
      <!--<p>{{ item.id }}</p>-->
      <ion-note style="color: darkred" *ngIf="!item.access">{{ 'Não tem acesso' | translate }}</ion-note>
      <ion-note style="color: green" *ngIf="item.access">{{ 'Você tem acesso' | translate }}</ion-note>


      <button item-right="" ion-button=""  *ngIf="item.access" style="margin-left: 10px;" (click)="connect(item, $event)"> {{ 'Open' | translate }}</button>
      <button large item-right=""  style="width: 20px; padding: 10px;" clear icon-only=""  ion-button="" (click)="presentPopover($event, item, item.device)"><ion-icon name="md-more"></ion-icon>
      </button>
    </button>


  </ion-list>

</ion-content>
